.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    color: white; /* white text color */
    font-family: "Montserrat", sans-serif;
}
body{
    margin: 0;
    background-color: #91caa6;
    color: #2f4496;
    font-family: Montserrat;
}
p {
    margin: 0px;
}
a {
    text-decoration: none; 
  }

.topnav {
    background-color: #6ead95;
    overflow: hidden;
}
.navdiv{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    font-family: Montserrat;
}

.Name a{
    font-size: 20px;
    font-weight: 600;
    color: #2f4496;
}

li{
    list-style: none;
    display: inline;
}

li a{
    color: #2f4496;
    font-size: 20px;
    font-style: bold;
    margin-right: 10px;
}

h1 {
    font-size: 40px;
    color: #2f4496;
}




.BOXTOHIDEALLTHETEXT{
    position:fixed;
    z-index: 2;
    width: 45%;
    height: 100vh;
    background-color: #91caa6;
}
.AboutMeAll{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    justify-content: space-around;
    width: 70%;
}
.Aboutmeimage{
    position: relative;
    margin-top:100px;
    animation: pulse 2s;
    z-index: 3;
}
.Aboutme{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-self: center;
    margin-top: 130px;
    animation: text-animation 2s ease forwards;
    z-index: 1;
}
@keyframes text-animation{
    0% { transform: translateX(-700px); }
    100% { transform: translateX(20px);}
}
.AboutMeText{
    font-size: 20px;
    display: flex;
    position: relative;
    word-wrap:break-word;
}

.Subheadertextaboutme{
    position: relative;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    word-wrap:break-word;
}

.AboutMeTitle{
    position: relative;
    display: flex;
}




.Academia{
    position: flex;
    align-self: center;
    text-align: center;
    color: #2f4496;
    font-family: "Montserrat";
    font-size: 40px;
    padding-top: 15px;
    z-index: 9999;
}

.List1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 90%;
    animation: slideInLeft 2s ease;
}

.List2{
    align-items: center;
    display:flex;
    justify-content: space-around;
    position: relative;
    margin-top: 50px;
    width: 75%;
    align-self: center;
    margin-left: 12.5%;
    animation: slideInRight 2s ease;
}

.Titles{
    font-size: 20px;
}

.Category{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.Button{
    display: flex;
    font-family: Montserrat;
    font-size: 20px;
    background-color: transparent;
    border: #2f4496 1px solid;
    color: #2f4496;
    border-radius: 90px;
    padding: 10px;
}


.Imges{
    display:flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
}




.ALLTHEACHIEVEMENTS{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.EdusaveGoodProgressAward{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    animation: pulse 2s;
}
.AcadAward{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    animation: pulse 2s;
}
.AwardDescriptionLeft{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    animation: slideInLeft 3s ease;
    width: 450px;
    text-align: center;
}
.AwardDescriptionRight{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    animation: slideInRight 3s ease;
    width: 450px;
    text-align: center;
}
.PositionCategory{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding-left: 20%;
    padding-top: 30px;
}


.PositionDescription{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    animation: slideInLeft 2s ease;
}


.THESECONDBOXHIDINGALLTHETEXT{
    position: absolute;
    height: 100vh;
    width: 50%;
    background-color: #91caa6;
    z-index: 2;
}
.PositionImage{
    z-index: 2;
    animation: pulse 2s;
}
.CCAViceChairText{
    text-align: center;
    width: 40%;
    word-wrap: break-word;
    animation: text-animation2 2s forwards;
    z-index: 1;
}
@keyframes text-animation2{
    0% { transform: translateX(-600px); }
    100% { transform: translateX(-50px);}
}




.Competition{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    justify-content: center;
    padding: 20px;
}
.CertificateImage{
    animation: pulse 2s;
    z-index: 999;
}
.CompetitionDescription{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    word-wrap: break-word;
    padding: 40px;
    animation: text-animation3 2s ease;
}
@keyframes text-animation3{
    0% { transform: translateX(-500px); }
    100% { transform: translateX(0px);}
}
.THETHIRDBOXHIDINGALLTHETHINGS{
    position: absolute;
    height: 100vh;
    width: 50%;
    background-color: #91caa6;
    z-index: 2;
}
.CompetitionSubtext{
    text-align: center;
    word-wrap: break-word;
    z-index: 1;
}
.AwardDescription2{
    font-size: 30px;
    font-weight: bold;
    width: 450px;
    text-align: center;
}


.BOXTOHIDEALLTHETEXT3{
    position:fixed;
    z-index: 2;
    width: 47.5%;
    height: 100vh;
    background-color: #91caa6;
}
.SchoolEventTitle{
    position: flex;
    align-self: center;
    text-align: center;
    color: #2f4496;
    font-family: "Montserrat";
    font-size: 40px;
    padding-top: 15px;
    z-index: 3;
}
.KumamotoTitle{
    position: relative;
    display: flex;
}
.KumamotoText{
    font-size: 20px;
    display: flex;
    position: relative;
    word-wrap:break-word;
}
.SchoolEventImage{
    position: relative;
    margin-top:100px;
    animation: pulse 2s;
    z-index: 3;
}




.SchoolProjectAll{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    justify-content: space-around;
    align-content: center;
    width: 70%;
}
.SchoolProjects{
    position: flex;
    align-self: center;
    text-align: center;
    color: #2f4496;
    font-family: "Montserrat";
    font-size: 40px;
    z-index: 3;
}
.SchoolProjectImage{
    position: relative;
    margin-top:140px;
    animation: pulse 2s;
    z-index: 3;
}
.PythonCourseworkTitle{
    position: relative;
    display: flex;
}
.PythonCourseworkText{
    font-size: 20px;
    width: 500px;
    display: flex;
    position: relative;
    word-wrap:break-word;
}
.CourseworkTextContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-self: center;
    margin-top: 50px;
    animation: text-animation 2s ease forwards;
    z-index: 1;
}
.BOXTOHIDEALLTHETEXT4{
    position:fixed;
    z-index: 2;
    width: 47.5%;
    height: 100vh;
    background-color: #91caa6;
}



.ASTROCLUBHIDYBOX{
    position: absolute;
    height: 3000px;
    width: 50%;
    background-color: #91caa6;
    z-index: 2;
}
.AstroClub{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    justify-content: center;
    padding: 20px;
}
.EventImageAstro{
    animation: pulse 2s;
    z-index: 999;
}
.AstroEventTitle{
    font-size: 30px;
    font-weight: bold;
    width: 450px;
    text-align: left;
}
.AstroEventSubtext{
    text-align: left;
    word-wrap: break-word;
    z-index: 1;
}




.PERSONAFIVEHIDYBOX{
    position: fixed;
    height: 100vh;
    width: 47.5%;
    background-color: #91caa6;
    z-index: 400;
}
.PersonalRender{
    animation: pulse 2s;
    z-index: 999;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}
.EventImageAstro{
    animation: pulse 2s;
    z-index: 999;
    padding: 10px;
}
.CompetitionDescription{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    word-wrap: break-word;
    padding: 40px;
    animation: text-animation3 2s ease;
    padding-top: 150px;
}
.PersonalProject{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    justify-content: center;
    padding: 20px;
}